# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vanes\OneDrive - Fatec Centro Paula Souza\Fatec Presidente Prudente\1° Semestre - 2021\Eletiva I\Projeto PHP MVC\projetophp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
